    /* 
        CSS 선언하는 3가지 방식
        1) 내부방식 : HTML파일 안에 직접 style태그를 통해서 CSS를 작성하는 방법
            - 단점 : 보안에 취약, 유지보수 불편, 재사용성 불가
            - 장점 : 빠르게 테스트가 가능하다.
            - 사용처 : 로컬개발에 활용한다.
            
        2) 인라인방식 : 태그 안에 직접 속성으로 스타일을 부여하는 방법
            - 단점 : 내부방식과 똑같다
            - 사용처 : 중요하지 않은 간단한 스타일에는 사용가능
        
        3) 외부방식 ★ : HTML과 CSS를 분리하는 방법
            - 장점 : 보안이 쪼금 좋다, 유지보수가 많이 좋다, 재사용성이 너무 좋다
            - 단점 : 내부방식보다 쪼금 느리다.
            - 사용처 : 개발을 완성하고 서비스를 배포할 때 활용 -> 현업에서 가장 많이 활용한다.
            - 사용법 : HTML파일에 <link href="디자인.css" rel = "stylesheet">
    */
      h1 {
          color: red;
      }
      