/* 

  실습 : 화면을 보고 스타일링 하기

  - notice 클래스에 스타일을 적용해 주세요.
  - input 태그에 스타일을 적용해 주세요.
  - fixed-btn 아이디에 스타일을 적용해 주세요.
  - 요구사항은 주석으로 작성되어 있습니다.

*/

body {
  background: #f5f5f5;
  padding: 40px;
}
/*
  notice 클래스에 스타일을 적용해 주세요. 
  * 요구사항 
    1) 배경은 밝게
    2) 테두리는 연하고 둥글게 처리
    3) 가로너비는 100%, 높이는 100px로 지정
    4) 안쪽 여백을 활용하여 내용이 테두리와 겹치지 않도록 처리 
        단) 보이는 크기는 유지 할 것
    5) 바깥 여백을 활용하여 다른 요소와 겹치지 않도록 처리
*/
.notice {
}

/*
  input 태그에 스타일을 적용해 주세요.
  * 요구사항 
    1) 가로 너비는 100%로 지정
    2) 안쪽 여백을 활용하여 내용이 테두리와 겹치지 않도록 처리 
        단) 보이는 크기는 유지 할 것
    3) 테두리는 둥글게 처리
    4) 바깥 여백을 활용하여 다른 요소와 겹치지 않도록 처리
*/
input {
}
/*
    fixed-btn 클래스에 스타일을 적용해 주세요.
  * 요구사항 
    1) 화면의 오른쪽 아래에 고정 (오른쪽에서 20px, 아래에서 20px)
    2) 배경은 파란색, 글자는 흰색
    3) 글자 크기는 14px로 지정
    4) 안쪽 여백을 활용하여 내용이 테두리와 겹치지 않도록 처리 
        단) 보이는 크기는 유지 할 것
    5) 테두리는 둥글게 처리
        팁) 테두리없이 라우드만 처리하고 싶을 땐 border: none;로 처리
    6) 글자 크기는 14px로 지정
*/
#fixed-btn {
}
