/* 

  실습 : 화면을 보고 스타일링 하기

  - contact-section 클래스에 스타일을 적용해 주세요.
  - h2 태그에 스타일을 적용해 주세요.
  - span.label 클래스에 스타일을 적용해 주세요.
  - form > input, form > textarea에 스타일을 적용해 주세요.
  - form > button에 스타일을 적용해 주세요.
  - 요구사항은 주석으로 작성되어 있습니다.

*/

body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  padding: 40px;
}
/*
  contact-section 클래스에 스타일을 적용해 주세요.
  * 요구사항 
    1) 가로 너비는 500px로 지정
    2) 배경은 흰색
    3) 안쪽 여백을 활용하여 내용이 테두리와 겹치지 않도록 처리 
        단) 보이는 크기는 유지 할 것
    4) 바깥 여백을 활용하여 화면 가운데에 위치하도록 처리
    5) 테두리는 둥글게 처리
*/
.contact-section {
}
/*
  h2 태그에 스타일을 적용해 주세요.
  * 요구사항 
    1) 가운데 정렬
*/
h2 {
}

/*
  label 클래스에 스타일을 적용해 주세요.
  * 요구사항 
    1) 상하방향으로 margin을 12px로 지정, 좌우 방향은 0px로 지정    
        * 주의점 : span태그는 inline 요소이므로 margin을 적용해도 상하로는 적용되지 않는다.
        * 해결책 : display 속성을 block으로 지정하여 블록 요소로 변경
    2) 글자 두께를 두껍게 처리
    
*/
span.label {
}

/*
  form > input, form > textarea에 스타일을 적용해 주세요.
  * 요구사항 
    1) 가로 너비는 100%로 지정
    2) 안쪽 여백을 활용하여 내용이 테두리와 겹치지 않도록 처리 
        단) 보이는 크기는 유지 할 것
    3) 테두리는 연하고 둥글게 처리
    
*/
form > input,
form > textarea {
}

/*
  form > button에 스타일을 적용해 주세요.
  * 요구사항 
    1) 가로 너비는 100%로 지정
    2) 위쪽 방향만 20px 바깥 여백을 지정
    3) 배경은 초록색, 글자는 흰색
    4) 글자 크기는 15px로 지정
    5) 안쪽 여백을 활용하여 내용이 테두리와 겹치지 않도록 처리 
        단) 보이는 크기는 유지 할 것
    6) 테두리는 없고, 둥글게 처리
*/
form > button {
}
/*
  히든미션🌟 
  - 문의보내기 버튼에 마우스를 올렸을 때 배경색이 조금 더 진해지도록 처리해 주세요.
*/
